# Compiled Python files
*.pyc

# Compiled Haskell files
*.hi

# Folder view configuration files
.DS_Store
Desktop.ini

# Thumbnail cache files
._*
Thumbs.db

# Files that might appear on external disks
.Spotlight-V100
.Trashes

# Files or directories created by editors
.idea
