# dotfiles gitignore
# > To see global gitignore: ~/.config/git/ignore

# Ignore all except for the dotfiles
/*
!/.*

# Ignore dotfiles repo
.cfg/

# macOS specific
.Trash

# Large apps to enable tab completion
# apps
/.vscode
/.duckdb
/.docker

# environment management
/.*conda*
/.pyenv
